@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.negrito{
	font-weight: bold;
}

.modal-buttons{
	border: none; 
	border-radius: 7px;
	font-size: 15px;
	padding: 7px;
	width: 100px;
	cursor: pointer;
}

.row-content{
	display: flex;
	width: 100%; 
	align-items: center;
}